<html>

<script src="/javascripts/Produto.js"></script>
<script src="/javascripts/Carro.js"></script>
<script src="/javascripts/Banco.js"></script>
<script src="/javascripts/testaProduto.js">  </script>

<<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


<body>
    <p id='titulo'> Renderizando...</p>

</body>
</html>